.btn {
  padding: 3px 8px !important;
  font-size: 12px !important;
}
body {
  background-color: #f0df81 !important;
  color: #006400 !important;
}
body {
  font-family: 'Hunter Green', sans-serif;
  color: #006400 !important;
}h1 {
  background-color: #F0DF81;
  font-family: 'Hunter Green', sans-serif;
  color: #006400;
}